/* common:cloudui公共样式
--------------------------
 */
 // --------颜色相关
// 主题色
$primary-def: #164DF2;
$primary-hover: #4470F4;
$primary-click: #1241CD;
$primary-disable: #A1B7F9;
// 成功反馈：成功提示、按钮激活、按钮暂存或者健康状态等
$state-success: #39C676;
//严重异常、警告
$state-warning-serious:#FF891B;
// 警示反馈：警告信息
$state-warning: #FFB400;
// 错误反馈：错误信息
$state-error: #F54040;
// 次要警告/无数据
$state-error-second: #7993BF;
// 信息提示/使用中
$state-primary:#3E72F5;
//已失效
$state-invalid:#B6B6B6;
// $button-disabled: #D6D9E0;
// 正文，用于一级文字信息、正文、标题颜色
$text-lev1: #212a40;
// 二级文字，用于二级文字信息，不可修改文字颜色
$text-lev2: #6D7383;
// 次要文字、提示信息、不可修改文字颜色
$text-lev3: #A3A9B7;
// 文字禁用色
$text-disable: #A3A9B7;
// 表格内容分割线、默认分割线颜色
$border-table: #E7E9ED;
// input、按钮等边框颜色
$border-item: #D3D7DE;
// 输入框placeholder颜色
$placeholderColor: #a0a4af;
// 背景色
$bg-def:#F2F4F7;
$ba-disable:#B1B7C0;
$bg-white:#fff;

// 消息提醒
// message info
// 背景色
$--message-bg-color:#ECF3FF;
$--message-bd-color:#3E72F5;
$--message-info-bg-color:#ECF3FF;
$--message-info-bd-color:#3E72F5;
$--message-info-icon-color:$state-primary;
$--message-success-bg-color:#D9FFE9;
$--message-success-bd-color:#39C676;
$--message-success-icon-color:$state-success;
$--message-warning-bg-color:#FFEADB;
$--message-warning-bd-color:#FF891B;
$--message-warning-icon-color:$state-warning-serious;
$--message-error-bg-color:#FCEDED;
$--message-error-bd-color:#FF5454;
$--message-error-icon-color:$state-error;

// alert 警告
$--alert-bg-color:#ECF3FF;
$--alert-bd-color:#3E72F5;
$--alert-info-bg-color:#ECF3FF;
$--alert-info-bd-color:#3E72F5;
$--alert-info-icon-color:$state-primary;
$--alert-success-bg-color:#D9FFE9;
$--alert-success-bd-color:#39C676;
$--alert-success-icon-color:$state-success;
$--alert-warning-bg-color:#FFEADB;
$--alert-warning-bd-color:#FF891B;
$--alert-warning-icon-color:$state-warning-serious;
$--alert-error-bg-color:#FCEDED;
$--alert-error-bd-color:#FF5454;
$--alert-error-icon-color:$state-error;

// 数形控件
// 色彩
$--cloud-tree-expand-icon-color:$text-lev2;
$--cloud-tree-active-color:#3369ff;
$--cloud-tree-active-bg-color:$--message-bg-color;
$--cloud-tree-disabled-color:#B4BDCC;
$--cloud-tree-click-icon-color:#1232B3;
$--cloud-tree-click-label-color:#3369FF;

// 重要异常、警告
$state-warning-serious:#FF891B;
$state-disable:#6D7383;

// tips 行内提示
$--cloud-tips-bg-color:$--message-bg-color;
$--cloud-tips-bd-color:$state-primary;
$--cloud-tips-close-color:#214CD9;
$--cloud-tips-icon-color:#3369FF;

//阴影基本样式
.cl-shadow6{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.cl-shadow8{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.cl-shadow10{
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.cl-shadow6-left{
    box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.cl-shadow8-left{
    box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.cl-shadow10-left{
    box-shadow: -6px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.cl-shadow6-right{
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.cl-shadow8-right{
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.cl-shadow10-right{
    box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.cl-shadow6-bottom{
    box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.1);
}

.cl-shadow8-bottom{
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.15);
}

.cl-shadow10-bottom{
    box-shadow: 0px -6px 10px 0px rgba(0, 0, 0, 0.2);
}